a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
table,table td{padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top;}
embed{vertical-align:top;}
input[type=text],textarea{outline:none;border-radius:0;}

*{
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
/* !Убираем ненужное */

:root {
    --color-blue: #3ea2d8;
    --color-active-blue:rgb(92, 175, 220);
}
body{
    /* background-color: #111; */position: relative;
    
}
body.module{
overflow-y: hidden;
    
}
.svg-cont{
    display: none;
}
/* ////////////////////////////////////////// Mask */

#mask{
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(17, 17, 17);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    opacity: 1;
    transition: 0.6s opacity ease-in;
    overflow: hidden;
}
#mask.hide{
    opacity: 0;
    overflow: auto;
}
#mask .maskTelefon{
    opacity: 1;
    transition: 0.2s opacity ease-in;
}
#mask .maskContPulse{
    opacity: 1;
    transition: 0.2s opacity ease-in;
}

#mask.hide .maskTelefon{
    opacity: 0;
   
}
#mask.hide .maskContPulse{
    opacity: 0;
    
}

.maskTelefon{
    width: 200px;
    height: 330px;
    
}
.maskContPulse{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto 0px;
    overflow: hidden;
}
.maskPulse{
    width: 926px;
    height: 122px;
    transform: scale(0.6);
    position: absolute;
    left: -191px;
    transition: all 2s linear;
}
.maskPulse:first-child{
   
}
.maskPulse.active{
    left: -600px;

}
/* .maskPulse:last-child{
    left: -60px;
} */

/* ////////////////////////////////////////// Mask */


/* ////////////////////////////////////////// HEADER */
header{
    position: fixed;
    display: flex;
    top: 0px;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    padding: 1vh 15vw;
}

.logoContainer{
    display: flex;
}

header img{
   height: 33px;
   width: 35px;
   margin: auto 0;
}
.menu-bar{
    height: 35px;
    width: 25px;
    position: relative;
    display: none !important;
}
.menu-bar svg{
    z-index: 2;

}
.fon-svg{
    background-color: #fff;  
    position: absolute;  
    width: 85%;
    height: 85%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
    z-index: 1;
}
header .logo{
    display: flex;
    flex-direction: column;
    margin-left: -3px;
}

header .logo p{
    text-align: center;
    color: #fff;
}

header .title{
    font-size: 26px;
    font-family: 'Raleway-Bold', serif;
    letter-spacing: -1px;
}  

header .title span{
    color: var(--color-blue);
}  

header .subtitle{
    font-size: 9px;
    font-family: 'Raleway-Regular', serif;
    letter-spacing: 2px;
    color: #ffffffad !important;
}

.navigation{
   height: auto;
   width: 40%;
   display: flex;
  
}

.navigation ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.navigation ul li{
    display: flex;
    
    font-family: 'Raleway-Medium', serif;
    font-size: 19px;
    cursor: pointer;
}
/* .navigation ul li:nth-last-child(n+2){
    display: none;
} */
.navigation li a{
  text-decoration: none;
  color: var(--color-blue);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all ;
  transform: scale(1);
}
.navigation li a:hover{
    transform: scale(1.1);
    color: var(--color-active-blue);
    /* text-shadow: 
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 8px #fff; */
}
/* ////////////////////////////////////////// HEADER */


/* ////////////////////////////////////////// MAIN ABOUT-US */ 
main{
    margin-top: 5vh;
}
h1,h2,h3,h4,button,.t-up{
    text-transform: uppercase;
}
.block{

}
.constraint.block{
padding: 130px 15vw;
}
.dark{
    background-color: #111;
}
.grey{
    background-color: #1b1b1b;
}
.constraint{
    padding: 0 15vw;
}
.AboutUs{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(images/AboutUs/fx2.png);
   
    position: relative;
}

.AboutUs .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    justify-content: center;

}
.AboutUs h1{
    width: 100%;
    height: max-content;
    font-size: 160px;
    position: relative;
    font-family: 'Raleway-Black', serif;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    color: black;
    background: black;
    mix-blend-mode: screen;
}
.AboutUs p{
    width: 50%;
    font-family: 'Raleway-Regular', serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    padding-top: 3vh;
    
}
.AboutUs a{
    width: max-content;
    margin-top: 7vh;
}
.AboutUs button{
    text-align: center;
    font-size: 20px;
    color: var(--color-blue);
    background: rgba(255, 255, 255, 0.85);
    line-height: 30px;
    padding: 0.5vw 3vw;
    outline: none;
    border: none;
    border: 2px solid transparent;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
    border-radius: 24px;
    font-family: 'Roboto-Bold', serif;
    cursor: pointer;
}
.AboutUs button:hover{
    background: var(--color-active-blue);
    color: white;
    /* border: 2px solid w; */
}
/* ////////////////////////////////////////// MAIN ABOUT-US */ 


/* ////////////////////////////////////////// MAIN WhoAre */ 

.WhoAre {

}

.WhoAre h2, .WhoAre p{
    color: var(--color-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WhoAre .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WhoAre h2{
    font-size: 30px;
    font-family: 'Raleway-ExtraBold', serif;
    margin-bottom: 50px;
}

.WhoAre p{
    width: 60vw;
    font-size: 18px;
    font-family: 'Raleway-Regular', serif;
    line-height: 35px;
}

/* ////////////////////////////////////////// MAIN WhoAre */ 


/* ////////////////////////////////////////// MAIN Dignities */ 

.Dignities {

}

.Dignities h3, .Dignities p{
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dignities .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Dignities .item{
    width: 28%;
}

.Dignities h3{
    font-size: 20px;
    font-family: 'Raleway-Bold', serif;
    margin-bottom: 30px;
}

.Dignities p{
    /* width: 60%; */
    font-size: 16px;
    font-family: 'Raleway-Regular', serif;
    line-height: 35px;
}
/* ////////////////////////////////////////// MAIN Dignities */ 


/* ////////////////////////////////////////// MAIN Priorities */ 

.Priorities {
    display: flex;
    flex-direction: column;
    background: url(images/priorities/fx.png);
    position: relative;
}

.Priorities h2, .Priorities p.subtitle{
    color: var(--color-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Priorities .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.Priorities h2{
    font-size: 30px;
    font-family: 'Roboto-Bold', serif;
    margin-bottom: 50px;
}

.Priorities p.subtitle{
    width: 90%;
    font-size: 20px;
    font-family: 'Raleway-Medium', serif;
    line-height: 35px;
}

.Priorities .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Priorities .item{
    background-color: #1b1b1bad;
    width: 31%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5vw;
}

.Priorities .item p,.Priorities .item h3{
    color: #fff;
}

.Priorities .item h3{
    font-size: 18px;
    font-family: 'Roboto-Bold', serif;
    margin-bottom: 60px;
}

.Priorities .item p.text{
    padding: 0px 15%;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: 'Raleway-Italic', serif;
    line-height: 28px;
}

.Priorities .item p.name{
    font-size: 16px;
    font-family: 'Roboto-Bold', serif;
}

.Priorities .item p.post{
    font-size: 15px;
    font-family: 'Raleway-Italic', serif;
    margin-bottom: 30px;
}
/* ////////////////////////////////////////// MAIN Priorities */ 


/* ////////////////////////////////////////// MAIN Exactly */ 

.Exactly {

}

.Exactly h2, .Exactly p{
    color: var(--color-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Exactly .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Exactly .container h2{
    font-size: 30px;
    font-family: 'Raleway-Medium', serif;
    margin-bottom: 50px;

}

.Exactly .container p{
    width: 60vw;
    font-size: 18px;
    font-family: 'Raleway-Regular', serif;
    line-height: 35px;
}

.Exactly .control{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 90px;
}

.Exactly .control p{
    font-size: 16px;
    font-family: 'Raleway-Medium', serif;
    margin-right: 4vw;
}

.Exactly .control p:last-child{
    margin-right: 0vw;
}

.Exactly .features{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Exactly .features .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    align-items: center;
}

.Exactly .features svg{
    width: 100%;
    height: 100%;
   margin-bottom: 50px;
   transform: scale(0.85);
}

.Exactly .features svg use{
    
}

.Exactly .features h3,.Exactly .features p{
   color: #fff;
}

.Exactly .features h3{
    font-size: 25px;
    font-family: 'Raleway-Bold', serif;
}

.Exactly .features p.text{
    margin: 50px 0;
    font-size: 17px;
    font-family: 'Raleway-Regular', serif;
    line-height: 28px; 
}

.Exactly .features p.name{
    font-size: 15px;
    font-family: 'Roboto-Bold', serif;
}

.Exactly .features p.post{
    font-size: 15px;
    font-family: 'Raleway-Regular', serif;
}
/* ////////////////////////////////////////// MAIN Exactly */ 

/* ////////////////////////////////////////// MAIN Quote */ 

.Quote {

}
.Quote p.text, .Quote p.name{
    color: var(--color-blue);
    text-align: center;
    font-family: 'Raleway-SemiBold', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Quote .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Quote p.text{
    font-size: 20px;
    font-family: 'Raleway-SemiBold', serif;
    line-height: 35px;
    margin-bottom: 50px;
}
.Quote p.name{
    font-size: 20px;
}
/* ////////////////////////////////////////// MAIN Quote */ 


/* ////////////////////////////////////////// MAIN Nature */ 

.Nature {
    display: flex;
    width: 100%;
    min-height: 670px;
}
.Nature h2, .Nature p{
    color: var(--color-blue);
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.Nature .text{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    padding-left: 15vw ;
}
.Nature h2{
    font-size: 38px;
    font-family: 'Raleway-Regular', serif;
    margin-bottom: 30px;

}
.Nature p{
    width: 80%;
    font-size: 19px;
    font-family: 'Raleway-Regular', serif;
    line-height: 35px;
}
.Nature .image{
    width: 50%;
  background: url(images/nature/fx.png);
}
/* ////////////////////////////////////////// MAIN Nature */ 


/* ////////////////////////////////////////// MAIN Tickets */ 

.Tickets {
    display: flex;
    width: 100%;
    min-height: 670px;
    
}
.Tickets h2, .Tickets p{
    color: #fff;
    text-align: right;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.Tickets .text{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 6vw;
    padding-right: 15vw;
    align-items: end;
}
.Tickets h2{
    font-size: 58px;
    font-family: 'Roboto-Bold', serif;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.Tickets p{
    width: 65%;
    font-size: 17px;
    font-family: 'Roboto-Regular', serif;
    line-height: 35px;
}
.Tickets a{
    width: max-content;
    margin-top: 4vh;
}
.Tickets button {
   
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--color-blue);
    background: rgba(255, 255, 255, 0.85);
    line-height: 30px;
    padding: 0.5vw 3vw;
    outline: none;
    border: 2px solid transparent;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
    border-radius: 24px;
    font-family: 'Roboto-Bold', serif;
    cursor: pointer;
}

.Tickets button:hover{
    background: var(--color-active-blue);
    color: white;
    /* border: 2px solid w; */
}
.Tickets .image{
    width: 50%;
  background: url(images/tickets/Imsge.png);
}
/* ////////////////////////////////////////// MAIN Nature */ 


/* ////////////////////////////////////////// MAIN Projects */ 

.Projects{

}

.Projects .list{
    display: flex;
    flex-direction: column;
}

.Projects .item{
    display: flex;
    margin-bottom: 16vh;
}

.Projects .item:last-child{
    margin-bottom: 0vh;
}

.Projects .item.inverse{
    flex-direction: row-reverse;
}

.Projects .text{
    width: 50%;
    text-align: center;
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects .text .subtitle{
    font-size: 17px;
    font-family: "Raleway-Regular";
}

.Projects .text .title{
    font-size: 21px;
    font-family: "Raleway-Medium";
    margin-top: 15px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.Projects .text .desc{
    width: 60%;
    font-size: 17px;
    font-family: "Raleway-Regular";
    line-height: 30px;
}

.Projects .image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-blue);
}

.Projects .image svg{
    width: 30%;
    height: 55%;
}

/* ////////////////////////////////////////// MAIN Projects */ 



/* ////////////////////////////////////////// MAIN Trips */ 

.Trips{

}
.Trips .list{
    display: flex;
    justify-content: space-around;
}
.Trips .item{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Raleway-Medium", serif;
}
.Trips .item .text{
    font-size: 20px;
    margin-bottom: 10px;
}
.Trips .item .date{
    font-size: 17px;
}

/* ////////////////////////////////////////// MAIN Trips */ 


/* ////////////////////////////////////////// MAIN Quote */ 

.Quote2 {

}

.Quote2 p.text, .Quote2 p.name{
    color: var(--color-blue);
    text-align: center;
    font-family: 'Raleway-SemiBold', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Quote2 .container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Quote2 p.text{
    font-size: 20px;
    font-family: 'Raleway-SemiBold', serif;
    line-height: 35px;
    margin-bottom: 50px;
}

.Quote2 p.name{
    font-size: 20px;
}

/* ////////////////////////////////////////// MAIN Quote */ 


/* ////////////////////////////////////////// Footer */ 

footer{
    border-bottom: 24px solid var(--color-blue);
    overflow: hidden;
}

.footer-cont{
    display: flex;
    padding: 5vh 15vw;
    justify-content: space-between;
}

.socials{
    max-width: 30%;
    color: #fff;
}

.socials h2{
    font-family: "Roboto-Bold";
    font-size: 25px;
    margin-bottom: 15px;
}

.socials p{
    font-family: "Roboto-Regular";
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 15px;
}

.soc-cont{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.soc-cont .wrap{
    padding: 4px;
    width: max-content;
    height: max-content;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all ;
    transform: scale(1);
  
}
.soc-cont .wrap:hover{
    transform: scale(1.1);
    background-color: var(--color-blue);
}
.soc-cont i{
    width: 20px;
    height: 20px;
    color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
}

.links .items{
    font-family: "Roboto-Bold";
    color: #fff;
    margin-right: 8vw;
}
.links .items:last-child{
    margin-right: 0vw;
}
.links .items h4{
    font-size: 20px;
    margin-bottom: 16px;
}

.links .items li{
    font-family: "Roboto-Regular";
    font-size: 20px;
    margin-bottom: 8px;
}

/* ////////////////////////////////////////// Footer */ 


/* /////////////////////////////////////////////////////////////////////// */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#111;
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: var(--color-blue);
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-blue);
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }