@media (max-width: 1600px) { 
    header {
        padding: 1vh 12vw;
    }
    .constraint {
        padding: 0 12vw;
    }
    .constraint.block {
        padding: 130px 12vw;
    }
    .AboutUs h1 {
        font-size: 9vw;
    }
    .AboutUs p {
        font-size: 1.1vw;
        line-height: 38px;
    }
    .AboutUs a {
        margin-top: 5vw;
    }
    .AboutUs button {    
        font-size: 1.1vw;
        line-height: 30px;
        padding: 0.6vw 2vw;
    }
    .WhoAre p {
        width: 100%;
        font-size: 18px;
    }
    .Exactly .features .item {
        width: 20vw;
    }
    .Exactly .features svg {
        margin-bottom: 2vw;
    }
    .Exactly .features p.text {
        margin: 2.2vw 0;
    }
    .Nature {
        min-height: 40vw;
    }
    .Nature .text {
        padding-top: 10vw;
        padding-left: 10vw;
    }
    .Nature h2 {
        font-size: 2.4vw;
    }
    .Nature p {
        font-size: 1.2vw;
    }
    .Tickets {
        min-height: 40vw;
    }
    .Tickets .text {
        padding-top: 6vw;
        padding-right: 10vw;
    }
    .Tickets h2 {
        font-size: 3.2vw;
    }
    .Tickets p {
        width: 80%;
        font-size: 1.2vw;
    }
    .Tickets button {
        font-size: 1.3vw;
        margin-top: 4vh;
        padding: 0.6vw 3vw;
    }
    .Projects .text .subtitle {
        font-size: 1.7vw;
        font-family: "Raleway-Regular";
    }
    .Projects .text .title {
        font-size: 1.7vw;
        margin-bottom: 1.2vw;
    }
    .Projects .text .desc {
        width: 90%;
        font-size: 1.15vw;
    }
    .footer-cont {
        padding: 5vh 12vw;
    }
    .soc-cont{
        width: 60%;
    }
}
@media (max-width: 1280px) { 
    header {
        padding: 1vh 10vw;
    }
    .navigation {
        width: 45%;
    }
    .constraint {
        padding: 0 10vw;
    }
    .constraint.block {
        padding: 130px 10vw;
    }
    .AboutUs .container {
        padding-top: 15vh;
    }
    .AboutUs h1 {
        font-size: 7vw;
    }
    .AboutUs p {
        font-size: 1.4vw;
        line-height: 32px;
        width: 60%;
    }
    .AboutUs a {
        margin-top: 3vw;
    }
    .AboutUs button {
        font-size: 1.1vw;
        line-height: 30px;
        padding: 0.2vw 1.6vw;
    }
    .WhoAre h2 {
        font-size: 2.2vw;
    }
    .WhoAre p {
        width: 100%;
        font-size: 1.4vw;
    }
    .Dignities .container {
        width: 100%;
        /* height: max-content;
        display: flex;
        flex-direction: row; */
        flex-wrap: wrap;
        /* justify-content: space-between;
        align-items: center; */
    }
    .Dignities .item {
        width: 48%;
        margin-bottom: 5vh;
    }
    .Dignities .item:last-child {
        margin-bottom: 0vh;
    }
    .Dignities h3 {
        margin-bottom: 1vw;
    }
    .Dignities p {
        font-size: 1.3vw;
    }
    .Priorities h2 {
        font-size: 2.2vw;
        margin-bottom: 4vh;
    }
    .Priorities p.subtitle {
        font-size: 1.4vw;
    }
    .Priorities .list {
        justify-content: space-evenly;
    }
    .Priorities .item {
        width: 40%;
    }
    .Priorities .item h3 {
        font-size: 18px;
        font-family: 'Roboto-Bold', serif;
        margin-bottom: 35px;
    }
    .Priorities .item p.text {
        margin-bottom: 40px;
        text-align: center;
    }
    .Priorities .item p.post {
        margin-bottom: 0px;
    }
    .Exactly .container h2 {
        font-size: 2.2vw;   
        margin-bottom: 4vh;
    }
    .Exactly .container {
        margin-bottom: 8vh;
    }
    .Exactly .container p {
        font-size: 1.4vw;
    }
    .Exactly .control p {
        font-size: 1.6vw;
    }
    .Exactly .features h3 {
        font-size: 2vw;
    }
    .Exactly .features p.text {
        font-size: 1.4vw;
    }
    .Exactly .features p.name {
        font-size: 1.3vw;
    }
    .Exactly .features p.post {
        font-size: 1.3vw;
    }
    .Nature p {
        font-size: 1.35vw;
        width: 90%;
        line-height: 30px;
    }
    .Quote p.text {
        font-size: 1.4vw;
        margin-bottom: 4vh;
    }
    .Quote p.name {
        font-size: 1.6vw;
    }
    .Tickets h2 {
        font-size: 2.8vw;
    }
    .Tickets p {
        width: 90%;
        font-size: 1.35vw;
        line-height: 30px;
    }
    
    .Tickets button {
        font-size: 1.3vw;
        margin-top: 0vh;
        padding: 0.1vw 3vw;
    }
    .Projects .text .subtitle {
        font-size: 1.3vw;
    }
    .Projects .text .title {
        font-size: 1.4vw;
        margin-bottom: 1.2vw;
    }
    .Projects .text .desc {
        width: 90%;
        font-size: 1.2vw;
    }
    .Trips .item .text {
        font-size: 1.4vw;
        margin-bottom: 1vh;
    }
    .Trips .item .date {
        font-size: 1.2vw;
    }
    .Quote2 p.text {
        font-size: 1.4vw;
        margin-bottom: 4vh;
    }
    .Quote2 p.name {
        font-size: 1.6vw;
    }
    .socials {
        max-width: 40%;
    }
    .socials h2 {
        font-size: 1.7vw;
    }
    .socials p {
        font-size: 1.4vw;
    }
    
    
    .links {
        width: 50%;
        justify-content: space-around;
    }
    .links .items {
        /* margin-right: 8vw; */
    }
    footer {
        border-bottom: 2vh solid var(--color-blue);
    }
    .links .items h4 {
        font-size: 1.7vw;
    }
    .links .items li {
        font-size: 1.5vw;
    }
    .footer-cont {
        padding: 5vh 10vw;
    }
}
@media (max-width: 1000px) { 
    .navigation ul{
        justify-content: flex-end;
    }
    .navigation ul li:nth-last-child(n+2) {
        display: none;
    }
    .menu-bar{
        /* height: 35px;
        width: 25px;
        position: relative; */
        display: flex !important;
    }
    header img {
        height: 30px;
        width: 32px;
        margin: auto 0;
    }
    header .title {
        font-size: 20px;
    }
    header .subtitle {
        font-size: 6px;
        font-family: 'Raleway-Regular', serif;
        letter-spacing: 1.5px;
        color: #ffffffad !important;
    }
    .navigation {
        width: 15%;
    }
    .constraint.block {
        padding: 10vw 10vw;
    }
    .AboutUs {
        background-position: 70% !important;
    }
    .AboutUs .container {
        padding-top: 20vh;
    }
    .AboutUs h1 {
        font-size: 6vw;
    }
    .AboutUs p {
        /* font-size: 3.5vw;
        line-height: 5vw;
        width: 100%;
        text-align: justify; */
        font-size: 2vw;
        line-height: 3.5vw;
        width: 80%;
        text-align: justify;
    }
    .AboutUs a {
            /* margin-top: 5vw; */
        /* margin: 0 auto; */
        margin-top: 4vw;
    }
    .AboutUs button {
        font-size: 2vw;
        line-height: 30px;
        padding: 0.2vw 2.5vw;
    }
    .WhoAre h2 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .WhoAre p {
        width: 100%;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: justify;
    }
    .Dignities .item {
        width: 100%;
        margin-bottom: 10vh;
    }
    .Dignities h3 {
        text-align: center;
        font-size: 2.8vw;
        margin-bottom: 1.6vw;
    }
    .Dignities p {
        width: 100%;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: justify;
    }
    .Priorities h2 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .Priorities p.subtitle {
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        width: 100%;
    }
    .Priorities .container {
        margin-bottom: 12vw;
    }
    .Priorities .item {
        width: 100%;
        padding: 5vw 0;
    }
    .Priorities .item h3 {
        font-size: 2.8vw;
        margin-bottom: 3vw;
    }
    .Priorities .item p.text {
        margin-bottom: 2vw;
        text-align: center;
        padding: 0px 5%;
        font-size: 2.5vw;
    }
    .Priorities .item p.name {
        font-size: 2.3vw;
    }
    .Priorities .item p.post {
        font-size: 2.2vw;
    }
    .Exactly .container h2 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .Exactly .container {
        margin-bottom: 5vh;
    }
    .Exactly .container p {
        width: 100%;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: justify;
    }
    .Exactly .control {
        justify-content: space-evenly;
        margin-bottom: 3vw;
    }
    .Exactly .control p {
        font-size: 2.8vw;
    }
    .Exactly .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .Exactly .features .item {
        width: 100%;
        margin-bottom: 5vw;
    }
    .Exactly .features h3 {
        font-size: 2.8vw;
    margin-bottom: 2vw;
    }
    .Exactly .features p.text {
        margin: 0;
        margin-bottom: 2vw;
        text-align: center;
        padding: 0px 5%;
        font-size: 2.5vw;
    }
    .Exactly .features p.name {
        font-size: 2.3vw;
    }
    .Exactly .features p.post {
        font-size: 2.2vw;
    }
    .Quote p.text {
        font-size: 2.5vw;
        text-align: justify;
        margin-bottom: 3vh;
        line-height: 4.5vw;
    }
    .Quote p.name {
        font-size: 2.6vw;
    }
    .Nature {
        flex-wrap: wrap;
    }
    .Nature .text {
        width: 100%;
        margin-bottom: 10vw;
    }
    .Nature h2 {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    .Nature p {
        font-size: 2.5vw;
        width: 90%;
        line-height: 4vw;
    }
    .Nature .image {
        width: 100%;
        min-height: 90vh;
    }
    
    .Tickets {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .Tickets .text {
        width: 100%;
        padding: 10vw 0;
        padding-right: 10vw;
    }
    .Tickets h2 {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    .Tickets p {
        font-size: 2.5vw;
        width: 90%;
        line-height: 4vw;
    }
    .Tickets a {
        width: max-content;
        /* margin: 0 auto; */
        margin-top: 3vw;
        /* padding-left: 12vw;*/
    }
    .Tickets button {
        font-size: 2.2vw;
        margin-top: 0vh;
        padding: 0.2vw 4vw;
    }
    .Tickets .image {
        width: 100%;
        min-height: 90vh;
    }
    .Projects .item {
        display: flex;
        flex-direction: column-reverse !important;
        margin-bottom: 3vw;
    }
    .Projects .text {
        width: 100%;
    }
    .Projects .text .subtitle {
        font-size: 2.2vw;
    }
    .Projects .text .title {
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .Projects .text .desc {
        width: 100%;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: justify;
    }
    .Projects .image {
        width: 100%;
    }
    .Projects .image svg {
        width: 20%;
        height: 55%;
    }
    .Trips .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: normal;
    }
    .Trips .item {
        width: 50%;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-family: "Raleway-Medium", serif;
        margin-bottom: 6vw;
    }
    .Trips .item:last-child {
        margin-bottom: 0vw;
    }
    .Trips .item .text {
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .Trips .item .date {
        font-size: 2.2vw;
    }
    .Quote2 p.text {
        font-size: 2.5vw;
        text-align: justify;
        margin-bottom: 3vh;
        line-height: 4.5vw;
    }
    .Quote2 p.name {
        font-size: 2.6vw;
    }

    .links {
        display: none;
        width: 50%;
        justify-content: space-around;
    }
    .socials {
        max-width: 100%;
        width: 100%;
    }
    .socials h2 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .socials p {
        font-size: 2.5vw;
    }
    .soc-cont {
        width: 45%;
    }
    .soc-cont .wrap {
        padding: 6px;
    }
}





@media (max-width: 700px) { 
    
}



@media (max-width: 500px) { 
    header img {
        height: 30px;
        width: 32px;
        margin: auto 0;
    }
    header .title {
        font-size: 20px;
    }
    header .subtitle {
        font-size: 6px;
        font-family: 'Raleway-Regular', serif;
        letter-spacing: 1.5px;
        color: #ffffffad !important;
    }
    .navigation {
        width: 15%;
    }
    .constraint.block {
        padding: 10vw 10vw;
    }
    .AboutUs {
        background-position: 70% !important;
    }
    .AboutUs .container {
        padding-top: 35vh;
    }
    .AboutUs h1 {
        font-size: 15vw;
    }
    .AboutUs p {
        /* font-size: 3.5vw;
        line-height: 5vw;
        width: 100%;
        text-align: justify; */
        font-size: 4vw;
        line-height: 5.5vw;
        width: 100%;
        text-align: justify;
    }
    .AboutUs a {
        /* margin-top: 5vw; */
        margin: 0 auto;
        margin-top: 8vw;
    }
    .AboutUs button {
        font-size: 3.4vw;
        line-height: 30px;
        padding: 1vw 8vw;
    }
    .WhoAre h2 {
        font-size: 5.2vw;
        margin-bottom: 8vw;
    }
    .WhoAre p {
        width: 100%;
        font-size: 4vw;
        line-height: 6.5vw;
        text-align: justify;
    }
    .Dignities .item {
        width: 100%;
        margin-bottom: 5vh;
    }
    .Dignities h3 {
        text-align: center;
        font-size: 4.6vw;
        margin-bottom: 4vw;
    }
    .Dignities p {
        width: 100%;
        font-size: 4vw;
        line-height: 6.5vw;
        text-align: justify;
    }
    .Priorities h2 {
        font-size: 5.2vw;
        margin-bottom: 10vw;
    }
    .Priorities p.subtitle {
        font-size: 4vw;
        text-align: center;
        width: 100%;
    }
    .Priorities .container {
        margin-bottom: 12vw;
    }
    .Priorities .item {
        width: 100%;
        padding: 10vw 0;
    }
    .Priorities .item h3 {
        font-size: 4.6vw;
        margin-bottom: 8vw;
    }
    .Priorities .item p.text {
        margin-bottom: 6vw;
        text-align: center;
        padding: 0px 5%;
        font-size: 4.5vw;
    }
    .Priorities .item p.name {
        font-size: 4vw;
    }
    .Priorities .item p.post {
        font-size: 3.5vw;
    }
    .Exactly .container h2 {
        font-size: 5.2vw;
        margin-bottom: 10vw;
    }
    .Exactly .container {
        margin-bottom: 5vh;
    }
    .Exactly .container p {
        font-size: 4vw;
        width: 100%;
        text-align: justify;
        line-height: 6.5vw;
    }
    .Exactly .control {
        justify-content: space-evenly;
        margin-bottom: 10vw;
    }
    .Exactly .control p {
        font-size: 4.0vw;
    }
    .Exactly .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .Exactly .features .item {
        width: 100%;
        margin-bottom: 10vw;
    }
    .Exactly .features h3 {
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    .Exactly .features p.text {
        font-size: 4vw;
        margin: 0;
        padding: 0 5%;
        margin-bottom: 3.5vw;
    }
    .Exactly .features p.name {
        font-size: 3.5vw;
    }
    .Exactly .features p.post {
        font-size: 3.5vw;
    }
    .Quote p.text {
        font-size: 4vw;
        text-align: justify;
        margin-bottom: 3vh;
        line-height: 6.5vw;
    }
    .Quote p.name {
        font-size: 3.8vw;
    }
    .Nature {
        flex-wrap: wrap;
    }
    .Nature .text {
        width: 100%;
        margin-bottom: 10vw;
    }
    .Nature h2 {
        font-size: 5.2vw;
        margin-bottom: 5vw;
    }
    .Nature p {
        font-size: 4vw;
        width: 90%;
        line-height: 6.5vw;
    }
    .Nature .image {
        width: 100%;
        min-height: 40vh;
    }
    
    .Tickets {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .Tickets .text {
        width: 100%;
        padding: 10vw 0;
        padding-right: 10vw;
    }
    .Tickets h2 {
        font-size: 5.2vw;
        margin-bottom: 5vw;
    }
    .Tickets p {
        font-size: 4vw;
        width: 90%;
        line-height: 6.5vw;
    }
    .Tickets a {
        width: max-content;
        margin: 0 auto;
        margin-top: 5vw;
        padding-left: 10vw;
    }
    .Tickets button {
        font-size: 3.5vw;
        margin-top: 0vh;
        padding: 0.5vw 8vw;
    }
    .Tickets .image {
        width: 100%;
        min-height: 40vh;
    }
    .Projects .item {
        display: flex;
        flex-direction: column-reverse !important;
        margin-bottom: 8vw;
    }
    .Projects .text {
        width: 100%;
    }
    .Projects .text .subtitle {
        font-size: 3.5vw;
    }
    .Projects .text .title {
        font-size: 4vw;
        margin-bottom: 4vw;
    }
    .Projects .text .desc {
        width: 100%;
        font-size: 3.5vw;
        line-height: 6vw;
        text-align: justify;
    }
    .Projects .image {
        width: 100%;
    }
    .Trips .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .Trips .item {
        width: max-content;
        display: flex;
        flex-direction: column;       
        color: #fff;
        font-family: "Raleway-Medium", serif;
        margin-bottom: 8vw;
    }
    .Trips .item:last-child {
        margin-bottom: 0vw;
    }
    .Trips .item .text {
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .Trips .item .date {
        font-size: 3.5vw;
    }
    .Quote2 p.text {
        font-size: 4vw;
        text-align: justify;
        margin-bottom: 3vh;
        line-height: 6.5vw;
    }
    .Quote2 p.name {
        font-size: 3.8vw;
    }

    .links {
        display: none;
        width: 50%;
        justify-content: space-around;
    }
    .socials {
        max-width: 100%;
        width: 100%;
    }
    .socials h2 {
        font-size: 5.2vw;
        margin-bottom: 4vw;
    }
    .socials p {
        font-size: 4vw;
    }
    .soc-cont {
        width: 70%;
    }
    .soc-cont .wrap {
        padding: 6px;
    }

}
